body{
    background-image: url(Brown\ Cute\ Organic\ Minimalist\ Zoom\ Virtual\ Background.png);
    background-size: cover;
}
.outer{
    height: 80vh;
    width: 30vw;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #3B1C32;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 8px 10px #0B192C, 10px 10px 8px 10px #2A3663, 15px 15px 8px 10px #3B1E54;
}
.result{
    color: bisque;
    padding-left: 80%;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 700;
    flex: 1;
    background-color: #1A1A1D;
    border-radius: 20px;
}
.buttons{
    flex: 5;
    background-color: #1A1A1D;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.buttons button{
    color: bisque;
    background-color: #6A1E55;
    font-size: 15px;
    font-weight: 700;
}
.buttons button:active{
    background-color: #3B1C32;
}
#item_0{
    grid-column: 1/3;
}



@media(min-width:300px) and (max-width:500px){
    .outer{
        height: 60vh;
        width: 80vw;
    }
}
@media(min-width:500px) and (max-width:700px){
    .outer{
        height: 80vh;
        width: 70vw;
    }
}
@media(min-width:700px) and (max-width:900px){
    .outer{
        height: 80vh;
        width: 60vw;
    }
}
@media(min-width:900px) and (max-width:1200px){
    .outer{
        height: 80vh;
        width: 60vw;
    }
}